.header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    margin-top: 112px;
}

.header-title div {
    color: rgb(255, 166, 0);
}
